API_ID = 29569563
API_HASH = "d4df9f3d9c24a5292d5cf5a514d11a7a"
BOT_TOKEN = "5367216582:AAGqihlRt5Hb9OStLfupjyJ-uA5LmtIxp3M"
MONGO_DB_URI = "mongodb+srv://userbot:userbot@cluster0.m2o4idd.mongodb.net/?retryWrites=true&w=majority"
LOG_GROUP_ID = "-1001624785668"
MUSIC_BOT_NAME = "⛧ŁαG̴Ծղ    ϻǗŜĮČ 舞"
STRING_SESSION = 
